apiVersion: apps/v1
kind: Deployment
metadata:
  name: fine-tuning-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fine-tuning-service
  template:
    metadata:
      labels:
        app: fine-tuning-service
    spec:
      containers:
        - name: fine-tuning-service
          image: deepanshu0903/nst_app:fine_tuning_service
          imagePullPolicy: Never   
          ports:
            - containerPort: 8000
          volumeMounts:
            - name: model-storage
              mountPath: /persistent_storage # Ensure this matches the PVC
      volumes:
        - name: model-storage
          persistentVolumeClaim:
            claimName: nst-pvc

